@use "sass:map";
@import "../../Styles/variables.scss";

.radio {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: scroll;
  &-title {
    margin: map.get($spacing, "m") 0px;
    font: {
      size: map.get($font-size, "m");
      weight: map.get($font-weight, "medium");
    }
  }
  &-option {
    margin: map.get($spacing, "s") 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    &-btn {
      cursor: pointer;
    }
  }
}
